.select-bill-text {
  width: 300px;
}

.order-row {
  display: flex;
  font-size: 12px;
  flex-direction: row;
  border: 1px solid rgba(128, 128, 128, 0.1);
  border-radius: 6px;
  margin: 5px;
  padding: 10px;
  align-items: center;
}

.order-row .bill-name {
  margin: 0px 10px;
  width: 100%;
}

.order-row .bill-number {
  width: 25%;
  color: grey;
}

.order-row .is-selected {
  background-color: lightblue !important;
}

.order-row .bill-amount {
  margin-right: 10px;
}
