.bill-detail-container {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bill-detail-container .bill-detail-content-container {
  padding-right: 50px;
  padding-bottom: 20px;
}

.bill-detail-container .bill-detail-content-container .label {
  color: grey;
}

.bill-detail-container .bill-detail-content-container.bill-flow {
  grid-area: 5 / 1 / auto / span 2;
}

.bill-detail-content-container .pop-over-button-bill-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
}
