.party-detail-screen {
  width: 90%;
}

.party-detail-screen .vsrc-detail-items {
  display: flex;
  padding: 10px 0;
  flex-direction: row;
}

.party-detail-screen .vsrc-detail-items .label {
  font-weight: bold;
  color: #698fffc6;
  margin-right: 10px;
}

.party-detail-screen .vsrc-detail-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
  border: 1px solid rgba(128, 128, 128, 0.323);
  border-radius: 5px;
}

.party-detail-screen .vsrc-detail-items-container :nth-child(even) {
  justify-content: flex-end;
}

.edit-party-input-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 20px;

}