.view-supply-report-container {
  width: 90%;
}

.view-supply-report-container .bill-row-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.view-supply-report-container .bill-row-bottom .payment {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}
.view-supply-report-container .bill-row {
  margin-bottom: 30px;
  text-align: left;
}

.view-supply-report-container .bill-row-bottom .payment .label {
  font-weight: bold;
  color: gray;
}

.view-supply-report-container .bill-row-bottom .payment .value {
  font-weight: bold;
  color: rgb(102, 205, 188);
}

.view-supply-report-container .vsrc-detail-items {
  display: flex;
  padding: 10px 0;
  flex-direction: row;
}

.view-supply-report-container .vsrc-detail-items .label {
  font-weight: bold;
  color: #698fffc6;
  margin-right: 10px;
}

.view-supply-report-container .vsrc-detail-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
  border: 1px solid rgba(128, 128, 128, 0.323);
  border-radius: 5px;
}

.view-supply-report-container .vsrc-detail-items-container :nth-child(even) {
  justify-content: flex-end;
}
