.view-supply-report-container {
  width: 90%;
}

.view-supply-report-container .bill-row-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.view-supply-report-container .bill-row-bottom .payment {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}
.view-supply-report-container .bill-row {
  margin-bottom: 30px;
  text-align: left;
}

.view-supply-report-container .bill-row-bottom .payment .label {
  font-weight: bold;
  color: gray;
}

.view-supply-report-container .bill-row-bottom .payment .value {
  font-weight: bold;
  color: rgb(102, 205, 188);
}
.view-supply-report-container .table-header-container {
  background-color: #698fffc6;
}

.view-supply-report-container .vsrc-table-cell {
  padding: 10px;
}
.view-supply-report-container .table-header-container * {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.view-supply-report-container .vsrc-table {
  box-shadow: 3px 3px 5px rgba(146, 146, 146, 0.302);
  border: 1px solid rgba(146, 146, 146, 0.302);
  border-radius: 10px;
}

.view-supply-report-container .vsrc-table-row {
  border-bottom: 1px solid #dddddd4e;
  text-overflow: ellipsis;
  background-color: white;
  text-wrap: nowrap;
  width: 100%;
}

.view-supply-report-container .vsrc-detail-items {
  display: flex;
  padding: 10px 0;
  flex-direction: row;
}

.view-supply-report-container .vsrc-detail-items .label {
  border-bottom: 1px solid #dddddd4e;
  font-weight: bold;
  color: #698fffc6;
  margin-right: 10px;
}
