.route-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.route-container .routesettingsday {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    text-align: right;
    align-items: center;
}