<!-- child.html -->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      httpEquiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Child Window</title>
  </head>
  <body>
    <div id="root-child"></div>
  </body>
</html>
