.cheques-screen {
  width: 90%;
}

.cheque-entry-dailog {
  display: flex;
  flex-direction: column;
}

.cheque-table-cell {
  padding: 10px;
  overflow: hidden;
}

.filter-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  width: 80%;
  padding: 10px;
  padding-bottom: 20px;
}
.filter-section-container .filter-section-item {
  display: flex;
  flex-direction: column;
}
