.create-supply-report-screen-container {
}

.create-supply-report-screen-container .title {
  color: black;
}

.create-supply-report-screen-container .bill-row-container {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
  row-gap: 10px;
}

.bill-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 10px 50px;
}

.bill-row-container .label-header {
  color: grey;
}

.bill-row-container .party-name {
  font-size: 0.9em;
}

.bill-row-container .bill-number {
  font-size: 0.9em;
  color: grey;
  margin-left: 15px;
}

.bill-row-container .field {
  border-color: #90c2e7;
  margin-left: 15px;
  max-width: 100px;
  font-size: 0.9em;
}

.bill-row-container .spinner {
  margin-left: 20px;
  font-size: 0.9em;
}

.bill-row-container .delete-button {
  margin-left: 20px;
}

.bag-row-total {
  font-size: 0.9em;
  margin-top: 20px;
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-around;
}

.no-bills-added {
  color: grey;
  margin: 100px 0;
}
