.tab-navigator {
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.tab-navigator .left {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(137, 137, 137, 0.255);
  justify-content: center;
  margin-bottom: 20px;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 12;
}

.tab-navigator .right {
  margin-top: 100px;
  overflow: scroll;
  position: relative;
  padding: 10px;
  background-color: white;
}

.tab-navigator .submenu-container {
  width: 100%;
  background-color: antiquewhite;
}

.tab-navigator .menu-container {
  width: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
}

.tab-navigator .tab-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tab-navigator .tab-options.right-options {
  margin-right: 20px;
}
