.all-supply-reports-container .supply-report-row {
  cursor: pointer;
  padding: 10px 0;
  width: 60vw;
  border-bottom: 1px solid rgba(128, 128, 128, 0.086);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
}

.all-supply-reports-container .supply-report-row .sr-id {
  font-weight: bold;
}

.all-supply-reports-container .supply-report-row .sr-parties-length {
  color: rgba(128, 128, 128, 0.816);
}

.all-supply-reports-container .supply-report-row .sr-supplyman {
  color: var(--green);
  margin-left: 10px;
}

.all-supply-reports-container .supply-report-row .sr-status {
  font-size: 0.7em;
  padding: 2px;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.all-supply-reports-container .all-bills-search-input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  width: 70%;
  row-gap: 10px;
  margin: 30px 0;
}
