/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  margin: 0;
}

:root {
  --green: #06d6a0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(1) {
  background-color: #698fffc6;
  color: white;
}
table tr:not(:nth-child(1)) {
  background-color: white;
}

table tr:not(:nth-child(1)):hover {
  background-color: #a6bcff1f;
}

table * {
  padding: 10px;
  font-size: 13px;
  width: 100%;
  text-wrap: nowrap;
}
table td {
  border: 1px solid #547fff36;
}

.filter-input {
  border: 1px solid #ddd !important;
}
