<html>
  <head>
    <meta charset="utf-8" />
    <meta
      httpEquiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />

    <title>ADA Accounts</title>
  </head>
  <body>
    <div id="root" />
  </body>
</html>;
